$accent: #c55
$bgc: #312d38

$fa-font-path: "~font-awesome/fonts"
@import '~font-awesome/scss/font-awesome.scss'
html
  margin: 0
body
  overflow-x: hidden
  color: black
  font-family: sans-serif
  position: relative
  padding: 0
  margin: 0
  background-color: $bgc
  font-family: "Open Sans"
.preloader
  background-color: #111111
  width: 100%
  height: 100%
  z-index: 999
  position: fixed
  padding: 0
  overflow: 
  font-family: 'Poppins'
  .count
    h1
      color: #ffffff
      position: absolute
      left: 50%
      top: 50%
      font-size: 100px
      margin: 0
      transform: translate(-50%, -50%)
  &.done
    opacity: 0
    transition: all 0.5s
    visibility: hidden

nav
  position: fixed 
  width: 100%
  z-index: 101 
  background: rgba(6, 5, 22, 0.94)
  display: block
  height: 50px
  top: 0
  transition: all 0.7s
  border-bottom: 1px solid rgba(28, 27, 30, 0.7)
  .scrollIndicator
    position: absolute
    bottom: 0
    height: 5px
    margin-bottom: -6px
    background: rgb(79, 0, 32)
    width: 0%
  #brand
    // position: absolute
    float: left
    display: block
    font-size: 30px
    line-height: 50px
    font-weight: bold
    margin-left: 50px
    a
      color: #ffffff
      font-family: "Poppins"
      transition: all 0.3s ease-out
      text-decoration: none
      text-transform: uppercase
      margin-left: 10px
      
  .menu
    float: left
    left: 50%
    position: relative
    li
      display: inline-block
      padding-right: 5px
      padding-left: 50px
      transition: all 0.3s
      position: relative
      a
        font-family: "Poppins"
        &:hover
          color: $accent
          transition: 0.3s ease-out
#toggle 
  position: relative
  right: 20px
  top: 5px
  z-index: 998 
  width: 30px
  height: 30px
  cursor: pointer
  float: right
  transition: all .4s ease-out
  visibility: hidden
  opacity: 0
  .span
    height: 3px
    background: #ffffff
    transition: 0.3s 
    backface-visibility: visible
    margin: 5px auto
    border-radius: 6px
    position: relative
    z-index: 120
  &.on
    #one
      transform: rotate(45deg) translateX(2px) translateY(4px) 
    #two
      opacity: 0 
    #three
      transform: rotate(-45deg) translateX(8px) translateY(-10px)  
#resize
  z-index: 100
  top: 0px
  position: fixed
  background: #000
  width: 100vw
  height: 100vh
  opacity: 0
  
  transition: all 1s
  display: none
  .menu
    margin: 0
    padding: 0
    height: 50px
    display: table-cell
    vertical-align: center
    li 
      display: block
      text-align: center
      padding: 20px 0
      font-size: 50px
      min-height: 50px
      transition: all 0.3 ease-out
      a:hover
        transition: 0.3s ease-out
        color: $accent
      &:nth-child(1)
        margin-top: 10%
  &.active
    overflow-x: hidden
    display: table
    visibility: visible
    opacity: 0.95

.bgc-zero
  background: rgba(0,0,0,0) 
    

.menu
  li
    text-transform: uppercase
    list-style: none
    a
      color: #ffffff
      font-family: "Open Sans"
      text-decoration: none  
header
  height: 100vh
  width: 100%
  padding: 0
  margin: 0
  .content
    background-image: url(../img/bgTop.jpg)
    background-repeat: no-repeat
    background-position: center 50% 50%
    background-size: cover
    position: relative
    height: 100%
    width: 100%

    
    h1
       position: absolute
       text-align: center
       display: inline-block
       top: 50%
       left: 0
       right: 0
       color: white
       font-family: "Poppins"
       font-weight: 200
       font-size: 50px
.works
  text-align: center
  position: relative
  h1
    font-size: 40px
    color: white
    margin: 0
    position: absolute
    z-index: 20
    left: 0
    right: 0
  .js_frame
    width: 100%
    height: 100vh
    position: relative
    overflow: hidden
    white-space: nowrap
    margin: 0
    padding: 0
    img
      width: 100%
      height: 100vh
      background-size: cover
    .js_slides
      display: block
      .js_slide
        width: 100%
        height: auto
        position: relative
        display: inline-block
.slider
  position: relative
  .slider-prev, .slider-next
    font-size: 2em
    font-weight: bold
    position: absolute
    top: 0
    bottom: 0
    &:hover
      font-size: 3em
      transition: .4s
.slider-prev
  left: 1rem
.slider-next
  right: 1rem
button
  background: rgba(0,0,0,0)
  border: none
  color: rgba(255, 244, 221, 0.8)
  transition: 0.3s
  &:hover
    
    color: #490019
    transition: 0.3s
    font-weight: bold
  &:focus
    outline: none

.gallery
  max-height: 100%
  text-align: center
  position: relative
  #gallery
    font-size: 40px
    color: white
    margin: 0
  .wrapper
    margin-top: 1em
    max-height: inherit
    display: flex
    position: relative
    justify-content: center
    margin-left: 2em
    margin-right: 2em
    .text-container
      min-width: 50%
      display: flex
      flex-direction: column
      align-content: center
      p
        margin: 1em 1em 
        text-align: justify
        color: white
        a
          color: $accent
          text-decoration: none
          font-size: 1.2rem
      h3
        margin: 0 1em
        color: white
        text-align: left
    .img-container
      min-width: 50%
      
      img

        max-width: 100%
        height: auto
        //max-height: 550px
  .hakoba
    position: relative
    
  
    #copy
      color: white
      a
        color: #aaaaaa
        text-transform: uppercase
        text-decoration: none
        &:hover
          color: $accent
          transition: .2s
    

          

      
    
  

    

















@media(max-width: 1120px)
  nav
    
    .menu
      left: 28%
@media(max-width: 768px)
  #toggle
    visibility: visible
    opacity: 1
    margin-top: 6px
    z-index: 2000
  nav
    #brand
      a
        margin-left: 10px
    .menu
      display: none
  .menu
    a
      font-size: 20px
  header

   .content
      h1
        font-size: 40px

  .works
    .js_frame
      height: 100%
  .gallery
    min-height: 100vh
    .wrapper
      flex-direction: column
      margin-left: 0
      margin-right: 0
      .text-container
       padding-right: 1em
       padding-left: 1em 
      .img-container
    #second_container
      flex-direction: column-reverse

@media(min-width: 768px)
  #resize
    visibility: hidden !important
